<!doctype html>
<html ng-app>
<head>
    <title>Instagram Tool</title>
    <meta charset="utf8">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" media="screen" href="@{'/public/bootstrap/css/bootstrap.min.css'}">

    <style>
		.account img.profile-picture {
			width: 30px;
			height: 30px
		}
    </style>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>
    <script>
		function Home($scope, $http) {
			$http.get("@{HistoryService.all()}").success(function(history) {
				$scope.history = history;
			});
		}
    </script>
</head>
<body>
	#{menu /}
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2" ng-controller="Accounts">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header"><a href="#/home">Home</a></li>
						#{accounts-list /}
			        </ul>
				</div>
			</div>
	
			<div class="span9" ng-controller="FollowTasks">
				<div class="hero-unit">
			    	<div ng-view></div>
			    </div>
			</div>
		</div>
	</div>
</body>
</html>